.button {
  padding: 5px 10px;
  border: none;
  background-color: var(--button-color);
  cursor: pointer;
  font-family: Inter;
}

.button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.button:active {
  background-color: var(--button-active-color);
}

.button:disabled {
  cursor: auto;
  background-color: transparent;
  background-color: var(--button-color);
}
