.wrapper {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.progress-text {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3px;
  font-size: 14px;
}

.bar {
  height: 100%;
  background-color: var(--bg-color-5);
}
