.main-display {
  flex-basis: 100%;
}

.main-display--no-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-text {
  margin: 0;
  font-size: 14px;
}

.loading-bar {
  height: 25px;
  width: 400px;
  margin: 14px;
  border: 2px solid var(--bg-color-3);
}

.cancel-button {
  margin-top: 15px;
}
