.button {
  width: 26px;
  height: 26px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.button:active {
  background-color: var(--button-active-color);
}

.button:disabled {
  cursor: auto;
  background-color: transparent;
  opacity: 0.4;
}
