.toolbar {
  /* background-color: red; */
  height: 30px;
  padding: 0 2px;
  border-bottom: 2px solid var(--bg-color-3);
  display: flex;
  align-items: center;
}

.toolbar-group {
  display: flex;
  align-items: center;
}

.toolbar-group button:not(:last-of-type) {
  margin-right: 2px;
}

.spacer {
  height: 100%;
  flex-basis: 100%;
}
