.separator {
  margin: 0 5px;
}

.text {
  margin: 0;
}

.text-archived {
  color: var(--ok-1);
}

.text-missing {
  color: var(--missing-1);
}

.text-missing-files {
  color: var(--missing-files-1);
}

.text-extra {
  color: var(--extra-1);
}

.text-extra-files {
  color: var(--extra-files-1);
}

.text-none {
  color: var(--none-1);
}
