.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  max-height: calc(100vh - 160px);
  flex-grow: 1;
  overflow: auto;
}

.path {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  border: none;
  border-bottom: 2px solid var(--bg-color-3);
  display: flex;
  align-items: center;
  background-color: white;
}

.path p {
  margin: 0;
  font-size: 12px;
}
