:root {
  --button-color: rgb(220, 220, 220);
  --button-hover-color: rgb(205, 205, 205);
  --button-active-color: rgb(190, 190, 190);

  --bg-color-1: rgb(248, 248, 248);
  --bg-color-2: rgb(220, 220, 220);
  --bg-color-3: rgb(205, 205, 205);
  --bg-color-4: rgb(190, 190, 190);
  --bg-color-5: rgb(160, 160, 160);

  --error-text-1: rgb(180, 0, 0);

  --ok-1: rgb(0, 135, 0);
  --missing-1: rgb(150, 0, 0);
  --missing-files-1: rgb(208, 135, 0);
  --extra-1: rgb(0, 142, 170);
  --extra-files-1: rgb(0, 170, 204);
  --none-1: rgb(0, 135, 0);
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

#root {
  height: 100%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  background-color: var(--bg-color-1);
  font-family: Inter;
}
